body {
  font-family: "Roboto", sans-serif;
  color: #1d1d1d;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 3em;
  line-height: 1.2em;
}

h2 {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: 1px;
}

.get-started {
  padding-top: 1.2em;
  font-size: 0.9em;
}

.get-started span {
  color: #611f69;
  padding: 3px;
  font-size: 1rem;
  border-bottom: 1px solid #611f69;
}

#second-section .link-chevron,
#third-section-video .link-chevron,
.slideshow .link-chevron,
.link-chevron {
  font-size: 1.1rem;
  margin: 1em 0;
  width: 100%;
  color: #4484bc;
}

.link-chevron i {
  margin-left: 8px;
}

.flex {
  display: flex;
}

.section-50-50 div {
  width: 46%;
}

.video-section video {
  width: 100%;
}

.video-section-video {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
.video-section-video i {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 50%;
  color: #4484bc;
  cursor: pointer;
}
/* HEADER  */

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f5f5f5;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}

header .burger {
  display: none;
}

header img {
  height: 27px;
  position: relative;
  left: 2.8em;
}

header ul {
  display: flex;
  margin-right: auto;
  margin-left: 3.5em;
}

header ul li {
  margin-left: 2em;
  color: #000;
}

header p {
  margin-right: 2.5em;
  background-color: #611f69;
  color: #fff;
  padding: 0.8em;
  border-radius: 5px;
}

/* MAIN  */
#first-section div {
  margin-top: 160px;
  margin: 160px auto 0;
}

#first-section div {
  width: 43%;
}

#first-section div img {
  width: 128%;
}

.section-50-50 div img {
  width: 100%;
  margin-top: 3em;
  position: relative;
  right: 6.5em;
}

.column {
  display: flex;
  flex-direction: column;
}

.section-50-50 .column {
  padding-right: 5em;
  padding-left: 2em;
}

.section-50-50 .column p:first-child {
  font-weight: 500;
}

.section-50-50 .column h1 {
  padding-top: 0.4em;

  padding-bottom: 0.4em;
}

.section-50-50 .column h2 {
  padding-bottom: 0.4em;
}

.column button {
  text-transform: uppercase;
  padding: 1.2em 4em;
  margin-top: 1.5em;
  margin-right: 2em;
  border-radius: 5px;
  border: 1px solid #611f69;
  color: #611f69;
  font-size: 0.9em;
}
.column .btn-bg-purple {
  color: #fff;
  background-color: #611f69;
}

/* FIRST VIDEO SECTION  */

#first-video {
  margin-top: 11em;
}

.video-section h1 {
  padding-bottom: 0.2em;
}

#first-video h2 {
  padding-bottom: 2em;
}

/* LIST ROW  */

.align-column p {
  font-weight: 500;
  padding: 1.5em 0;
}

#second-section {
  border-top: 2px solid #f5f5f5;
}

#second-section .column {
  justify-content: center;
  padding-top: 1.2em;
  padding-left: 5em;
}

#second-section .video-section-video {
  margin-top: 4em;
}

.section-33 .column-3 {
  padding: 7em 4em;
}

.section-33 .column-3 p {
  font-size: 1.1rem;
}

.column-3 .align-column {
  align-items: flex-start;
}

/* THIRD SECTION VIDEO  */

#third-section-video {
  padding-bottom: 7.5em;
}

#third-section-video .video-section-video {
  margin-top: 3em;
}

#third-section-video .column {
  padding: 7.5em 8em 0 2em;
}

/* SLIDESHOW  */

.slideshow {
  background-color: #f5f5f5;
}

.slideshow .column {
  align-items: center;
  padding-top: 5em;
}

.slideshow .column h2 {
  padding: 1em 0;
}

.slideshow .link-chevron {
  text-align: center;
  padding-bottom: 2em;
}

.slideshow-img {
  width: 90%;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.slideshow-img img {
  width: 40%;
  position: relative;
  right: 0.9em;
  /* flex-shrink: 1; */
}

.slideshow-img .left-i {
  margin: auto 0;
  position: relative;
  right: 1.7em;
  font-size: 1.5rem;
}
.slideshow-img .right-i {
  margin: auto 0;
  position: relative;
  left: 1.7em;
  font-size: 1.5rem;
}

.slideshow-text {
  padding: 3em 3em 0 3em;
  position: relative;
}

.slideshow-text h3 {
  color: #0077c5;
  font-size: 1.4em;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 1.2em;
}

.slideshow-text em {
  font-size: 1.1em;
  font-style: italic;
  letter-spacing: 0.3px;
}

.name {
  display: block;
  padding: 1.8em 0 0.2em;
  font-weight: bolder;
}

.slideshow .slideshow-text .link-chevron {
  position: absolute;
  bottom: 0.1em;
  left: 10em;
}

.circles-balls {
  padding-top: 4.3em;
}

.circles-balls i:first-of-type {
  color: #611f69;
}

.circles-balls i {
  margin-left: 0.7em;
  color: #c4c4c4;
}

.logos {
  display: flex;
  padding-top: 2em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 4em;
}

.logos img:first-of-type {
  margin-left: 0;
}

.logos .ea-sports {
  max-width: 55px;
}

.logos img {
  max-width: 10em;
  max-height: 80px;
  margin-left: 3.5em;
}

/* SECTION CARDS  */

.section-cards {
  margin-bottom: 6.4em;
}

.section-cards h1 {
  text-align: center;
  padding-top: 1.6em;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 3em auto 0;
}

.cards article {
  width: 24%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.cards img {
  width: 100%;
}

.cards article em {
  padding: 1.3em 0;
}

.cards article h2 {
  font-weight: bolder;
  font-size: 1.3em;
  padding-right: 1em;
  padding-bottom: 3.5em;
}

.section-cards .link-chevron {
  margin: 0;
  position: absolute;
  bottom: 13px;
}

.section-cards .link-chevron i {
  position: relative;
  right: -86px;
}

.purple-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/background-purple.jpg);
  background-size: 100%;
}

.purple-section h1 {
  padding: 2.5em 0 0.6em;
  text-align: center;
  color: #fff;
}

.purple-section-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 7em;
}

.purple-section-button,
.purple-section-button-transparent {
  text-transform: uppercase;
  padding: 1.2em 4em;
  margin-right: 2em;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #611f69;
  font-size: 0.9em;
  background-color: #fff;
  cursor: pointer;
}

.purple-section-button-transparent {
  color: #fff;
  background-color: transparent;
}

/* CONTACT SECTION  */

.contact-section {
  display: flex;
}

.contact-section-ul {
  margin-left: auto;
  display: flex;
  padding-top: 5em;
  padding-right: 5em;
}

.contact-section-ul ul {
  margin-left: 3em;
  padding-bottom: 8em;
}

.contact-section-ul ul li {
  padding-bottom: 1.1em;
}

.contact-section-ul ul li:first-child {
  font-weight: bolder;
}

.contact-section-img {
  width: 50px;
}

.contact-section-img img {
  width: 100%;
  position: relative;
  top: 80px;
  left: 45px;
}

/* LINKS SECTION  */

.links-section {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2em 2em;
}

.links-section ul {
  display: flex;
}

.links-section ul li {
  margin-left: 1.5em;
  font-weight: 400;
}

.icons i {
  margin-left: 0.5em;
  color: #611f69;
  font-size: 1.7em;
}

footer {
  background-color: #ebeaeb;
  padding: 1.5em 3em;
  font-size: 0.9em;
}

@media (max-width: 950.98px) {
  /* Medium devices (tablets, less than 992px) */
  .slideshow-img {
    flex-direction: column;
    width: 70%;
    padding: 1em;
  }

  .slideshow-img img {
    width: 100%;
    position: initial;
  }

  .right-i,
  .left-i {
    display: none;
  }

  .slideshow .slideshow-text .link-chevron {
    position: initial;
    padding-top: 1em;
  }

  .slideshow .column h2 {
    padding: 1em;
    text-align: center;
  }

  .logos img {
    padding-bottom: 1.5em;
    margin-left: 0;
    padding: 0 1em 3em;
  }

  .flex {
    flex-direction: column;
  }

  #first-section div {
    width: 90%;
  }

  #first-section div img {
    width: 100%;
    position: initial;
  }

  #first-section div:last-of-type {
    margin-top: 0;
  }

  #first-video {
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .section-33 .column-3 {
    padding: 2em 4em;
  }

  .section-50-50 div {
    width: 90%;
  }

  #second-section {
    padding-top: 2em;
  }

  #third-section-video .column {
    padding: 3em;
    order: -1;
  }

  #third-section-video {
    padding-bottom: 2em;
  }

  .cards {
    flex-direction: column;
  }

  .cards article {
    width: 50%;
    margin: 2em auto 1em;
  }

  .contact-section {
    display: block;
  }

  .contact-section-img {
    margin: 3em auto 3em;
  }

  .contact-section-img img {
    position: initial;
  }

  .contact-section-ul {
    display: flex;
    padding-top: 0;
    padding-right: 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  .purple-section h1 {
    padding: 1em 1em 0.6em;
  }

  .contact-section-ul ul {
    padding-bottom: 1em;
    margin-left: 0;
    padding-right: 2em;
    width: 200px;
  }

  .links-section {
    flex-direction: column;
  }

  .links-section .icons {
    padding-top: 2em;
  }

  footer {
    text-align: center;
    padding: 1em;
    line-height: 20px;
  }

  header ul {
    position: fixed;
    text-align: center;
    width: 250px;
    display: none;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #611f69;
  }

  header ul li {
    padding: 2em 1em;
    color: #fff;
  }

  header p {
    display: none;
  }

  header .burger {
    display: block;
    position: relative;
    font-size: 1.5em;
    right: 1em;
  }
}
